<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h4 class="card-header">Classification Details</h4>
      <div class="card-body">
        <div class="card-text">
          <div class="row">
            <div class="col-sm-3"><h5>Display Name</h5></div>
            <div class="col-sm-9">
              <%= @classification.display_name %>
            </div>
            <br/>
            <div class="col-sm-3"><h5>Group</h5></div>
            <div class="col-sm-9"><%= @classification.group.titlecase %></div>
            <br/>
            <div class="col-sm-3"><h5>Name</h5></div>
            <div class="col-sm-9">
              <%= @classification.name %>
            </div>
            <br/>
            <div class="col-sm-3"><h5>Created</h5></div>
            <div class="col-sm-9"><%= @classification.created_at.to_s(:db) %></div>
            <br/>
            <div class="col-sm-3"><h5>Rules</h5></div>
            <div class="col-sm-9"><%= @classification.rules.collect {|rule| "/#{rule.regex}/"}.join(",\n") %></div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<h4>
  Related Transactions
  <% if @start_date && @end_date %>
  <small><%= @start_date.strftime('%Y-%m-%d') %> thru <%= @end_date.strftime('%Y-%m-%d') %></small>
  <% end %>
</h4>

<% if @transactions.present? %>
  <%= render partial: 'transactions/index_nested', locals: { transactions: @transactions, total: @total} %>
<% else %>
  <h4>There aren't currently any transactions associated with this classification</h4>
<% end %>
