<div class="transaction-modal">
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transaction Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render partial: 'show_card', locals: { label: 'Date', contents: @transaction.date } %>

          <br/>
          <%= render partial: 'show_card', locals: { label: 'Classification', contents: @transaction.classification&.display_name } %>

          <% if @transaction.rule %>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <h6 class="card-header">Rule</h6>
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div class="col-sm-6">
                          <%= link_to @transaction.rule.display_name, rule_path(@transaction.rule)%>
                        </div>
                        <div class="col-sm-6"></div>
                        <br/>
                        <br/>
                        <div class="col-sm-6">
                          Fixed
                        </div>
                        <div class="col-sm-6">
                          <%= @transaction.rule.fixed || 'false' %>
                        </div>
                        <div class="col-sm-6">
                          Recurring
                        </div>
                        <div class="col-sm-6">
                          <%= @transaction.rule.recurring || 'false' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br/>
            <%= render partial: 'show_card', locals: { label: 'Rule', contents: @transaction.rule.display_name, link: rule_path(@transaction.rule) } %>

            <br/>
            <%= render partial: 'show_card', locals: { label: 'Fixed', contents: @transaction.rule.fixed || 'false' } %>

            <br/>
            <%= render partial: 'show_card', locals: { label: 'Recurring', contents: @transaction.rule.recurring || 'false' } %>
          <% end %>

          <br/>
          <%= render partial: 'show_card', locals: { label: 'Full Description', contents: @transaction.description} %>

          <br/>
          <%= render partial: 'show_card', locals: { label: 'Imported At', contents: @transaction.created_at.strftime('%Y-%m-%d') } %>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>