<div class="row">
  <div class="col-sm-6">
    <h1>Rules</h1>
  </div>
  <div class="col-sm-6">
    <div style="float: right">
      <%= link_to 'New Rule', new_rule_path, class: 'btn btn-primary' %>
    </div>
    <div style="clear: both"></div>
  </div>
</div>


<div class="rules-index-container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>Regex</th>
          <th>Classification Name</th>
          <th>Classification Group</th>
        </tr>
        </thead>
        <tbody>
        <% @rules.each do |rule| %>
          <tr>
            <td><%= link_to "/#{rule.regex}/", rule_path(rule) %></td>
            <td><%= rule.classification_name %></td>
            <td><%= rule.classification_group %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= paginate @rules, theme: 'twitter-bootstrap-4' %>
  </div>
</div>