<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h4 class="card-header">Rule Details</h4>
      <div class="card-body">
        <div class="card-text">
          <div class="row">
            <div class="col-sm-3"><h5>Regex</h5></div>
            <div class="col-sm-9">/<%= @rule.regex %>/</div>
            <br/>
            <div class="col-sm-3"><h5>Classification</h5></div>
            <div class="col-sm-9">
              <% if @rule.classification %>
                <%= link_to @rule.classification.display_name, classification_path(@rule.classification) %>
              <% end %>
            </div>
            <br/>
            <div class="col-sm-3"><h5>Created</h5></div>
            <div class="col-sm-9"><%= @rule.created_at.to_s(:db) %></div>
            <div class="col-sm-3"><h5>Actions</h5></div>
            <div class="col-sm-9">
              <%= link_to 'Delete', rule_path(@rule), method: :delete, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<h4>Related Transactions</h4>

<% if @transactions.present? %>
  <%= render partial: 'transactions/index_nested', locals: { transactions: @transactions, total: @total} %>
<% else %>
  <h4>There aren't currently any transactions associated with this rule</h4>
<% end %>
