<% start_date = @report.start_at.strftime('%Y/%m/%d') %>
<% end_date = @report.end_at.strftime('%Y/%m/%d') %>

<div class="summary-report report">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @report.type.titlecase %>: <small><%= start_date %> thru <%= end_date %></small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Regex</th>
          <th>Classification</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @report.transaction_groups.each do |rule, txns| %>
          <tr>
            <% if rule %>
              <td>
                /<%= rule.regex %>/
              </td>
              <td>
                <%= rule.classification.display_name %>
              </td>
            <% else %>
              <td>None</td>
              <td>Unclassified</td>
            <% end %>
            <td>
              <%= humanized_money_with_symbol @report.transaction_totals[rule].round(2) %>
            </td>
            <td>
              <%= link_to 'Details', rule_path(rule, start_date: start_date, end_date: end_date), class: 'btn btn-primary' if rule%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
