<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h4 class="card-header">Account Details</h4>
      <div class="card-body">
        <div class="card-text">
          <div class="row">
            <div class="col-sm-3"><h5><%= ENV['APP_NAME'] %> Name</h5></div>
            <div class="col-sm-9"><%= @account.display_name %></div>
            <br/>
            <div class="col-sm-3"><h5>Nickname</h5></div>
            <div class="col-sm-9"><%= @account.plaid_name %></div>
            <br/>
            <div class="col-sm-3"><h5>Official Name</h5></div>
            <div class="col-sm-9"><%= @account.plaid_official_name %></div>
            <br/>
            <div class="col-sm-3"><h5>Institution Name</h5></div>
            <div class="col-sm-9"><%= @account.plaid_institution&.name %></div>
            <br/>
            <div class="col-sm-3"><h5>Created</h5></div>
            <div class="col-sm-9"><%= @account.created_at.to_s(:db) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<h4>Related Transactions</h4>

<%= render partial: 'transactions/index_nested', locals: {transactions: @transactions, total: @total} %>
